<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>URL Shortner</title>
</head>

<body>
    <div id="formCont">
        <h3><span>URL </span>Shortener</h3>
        <form id="urlForm">
            <input type="url" placeholder="Enter URL" required id="url" />
            <button type="submit" class="button-87">Shorten</button>
        </form>
    </div>
    <div id="link">

    </div>
</body>

</html>

<script>
    const form = document.getElementById('urlForm');
    const link = document.getElementById('link');
    const host = 'https://url-lilac.vercel.app'
    form.onsubmit = async (event) => {
        event.preventDefault();
        let body = {
            url: form.url.value
        }
        let res = await fetch(`${host}/url`, {
            method: "POST",
            body: JSON.stringify(body),
            headers: { "Content-Type": "application/json" }
        })

        let data = await res.json();
        let a = document.createElement('a');
        a.href = data.url;
        a.target = '_blank';
        a.innerText = `Shortened Url ${data.url}`
        link.append(a);
    }
</script>